.side_bar
  .side-bar__user-name
    .top-item
      .top-item__name
        = current_user.name
      .top-item__icons
        = link_to new_group_path, class: "top-item__btn top-item__btn--edit" do
          = icon('far', 'edit', class: "top-item__btn--icon")
          %span<>
        = link_to edit_user_path(current_user), class: "top-item__btn top-item__btn--cog" do
          = icon('fas', 'cog', class: "top-item__btn--icon")
          %span<>
  .side-bar__group-list
    - current_user.groups.each do |group|
      .middle-item1
        = link_to '#' do
          .middle-item1__name
            = group.name
          .middle-item1__message
            まだメッセージがありません
      .middle-item2
        = link_to '#' do
          .middle-item2__name
            = group.name
          .middle-item2__message
            まだメッセージがありません
      .middle-item3
        = link_to '#' do
          .middle-item3__name
            = group.name
          .middle-item3__message
            まだメッセージがありません
    